<launch>

    <!-- what config we are going to run (should match folder name) -->
    <arg name="verbosity"   default="INFO" /> <!-- ALL, DEBUG, INFO, WARNING, ERROR, SILENT -->
    <arg name="config"      default="euroc_mav" /> <!-- euroc_mav, tum_vi, rpng_aruco, kaist -->
    <arg name="log_path" default="/home/gao/ws/catkin_vio_ws/src/vio_backend/log" />

    <!-- mono or stereo and what ros bag to play -->
    <arg name="max_cameras" default="1" />
    <arg name="use_stereo"  default="false" />
    <arg name="bag_start"   default="0" /> <!-- v1-2: 0, mh1: 40, mh2: 35, mh3: 17.5, mh4-5: 15 -->
    <arg name="dataset"     default="MH_01_easy" /> <!-- V1_01_easy, V1_02_medium, V1_03_difficult, V2_02_medium, dataset-room1_512_16 -->
    <arg name="bag"         default="/media/gao/samsung/dataset/euroc_mav/$(arg dataset).bag" />

    <!-- saving trajectory path and timing information -->
    <arg name="dosave"      default="false" />
    <arg name="dotime"      default="false" />
    <arg name="path_est"    default="/tmp/traj_estimate.txt" />
    <arg name="path_time"   default="/tmp/traj_timing.txt" />

    <!-- if we should viz the groundtruth -->
    <arg name="dolivetraj"  default="false" />
    <arg name="visualize"   default="false" />

    <!-- MASTER NODE! -->
    <node name="vio_backend" pkg="vio_backend" type="vio_backend_node" output="screen" clear_params="true" required="true">

        <param name="use_multi_thread"         type="bool"    value="false" />
        <!-- 0: info, 1: warning, 2: error, 3: fatal -->
        <param name="log_level"                type="int"     value="0" />

        <param name="camera_num"               type="int"    value="1" />

        <!-- bag parameters -->
        <param name="path_bag"                 type="str"    value="$(arg bag)" />
        <param name="bag_start"                type="double" value="25" />
        <param name="bag_durr"                 type="int"    value="-1" />

        <param name="img_width"                type="int"    value="752" />
        <param name="img_height"               type="int"    value="480" />

        <rosparam param="intrinsic_cam_0">      [458.654, 457.296, 367.215, 248.375]                    </rosparam>
        <rosparam param="distortion_param_0">   [-0.28340811, 0.07395907, 0.00019359, 1.76187114e-05]   </rosparam>
        <rosparam param="intrinsic_cam_1">      [458.654, 457.296, 367.215, 248.375]                    </rosparam>
        <rosparam param="distortion_param_1">   [-0.28340811, 0.07395907, 0.00019359, 1.76187114e-05]   </rosparam>

        <!-- Cameras in Imu frame -->
        <rosparam param="Tic">   [0.0148655429818, -0.999880929698,  0.004140296794,
                                  0.9995572490080,  0.014967213325,  0.025715529948,
                                 -0.0257744366974,  0.003756188358,  0.999660727178,
                                 -0.021640145497,  -0.064676986768,  0.009810730589,

                                  0.0125552670891, -0.999755099723,  0.018223771455,
                                  0.999598781151,   0.013011905182,  0.025158836311,
                                 -0.0253898008918,  0.017900583825,  0.999517347078,
                                 -0.019843557956,   0.045368942502,  0.007862124470]                </rosparam>

        <param name="max_feat_n"                type="int"    value="225" />
        <param name="grid_w"                    type="int"    value="15" />
        <param name="grid_h"                    type="int"    value="15" />
        <param name="max_clone_pose"            type="int"    value="6" />
        <param name="verbosity"                 type="str"    value="$(arg verbosity)" />
        <param name="log_path"                  type="str"    value="$(arg log_path)" />

        <param name="imu_acc_var_static_thres"  type="double"    value="0.5" />
        <param name="imu_gyro_static_thres"     type="double"    value="0.5" />

        <param name="gravity_magn"              type="double" value="9.81" />

        <rosparam param="camera_topic">   ["/cam0/image_raw", "/cam1/image_raw"]   </rosparam>
        <param name="imu_topic"         type="str"    value="/imu0" />

    </node>


</launch>