<launch>

    <!-- what config we are going to run (should match folder name) -->
    <arg name="verbosity"   default="INFO" /> <!-- ALL, DEBUG, INFO, WARNING, ERROR, SILENT -->
    <arg name="log_path"    default="$(find vio)/log" />

    <!-- if show rviz -->
    <arg name="use_rviz"    default="true"/>
    <node if="$(arg use_rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find vio)/rviz/display.rviz"/>

    <!-- MASTER NODE -->
    <node name="vio" pkg="vio" type="vio_subscribe_node" output="screen" clear_params="true" required="true">

        <param name="running_rate"              type="int"      value="20" /> <!--Hz-->
        <param name="set_init_timestamp_to_zero" type="bool"    value="true" />
        <param name="use_multi_thread"          type="bool"     value="false" />
        <param name="log_level"                 type="int"      value="0" /> <!-- 0: info, 1: warning, 2: error, 3: fatal -->
        <param name="solver_type"               type="int"      value="1" /> <!-- 0: eskf_solver, 1: sqrt_root_eskf_solver -->
        <param name="initial_type"              type="int"      value="1" /> <!-- 0: static initialization, 1: dynamic initialization -->
        <param name="estimate_ric"              type="bool"     value="true" />
        <param name="estimate_td_visual"        type="bool"     value="true" />
        <param name="frontend_prediction"       type="bool"     value="true" />
        <param name="use_zupt"                  type="bool"     value="false" />
        <param name="lazy_time"                 type="double"   value="0.2" />

        <!-- Camera configuration -->
        <param name="camera_num"                type="int"      value="1" />
        <param name="img_width"                 type="int"      value="848" />
        <param name="img_height"                type="int"      value="480" />
        <rosparam param="intrinsic_cam_0">      [423.59347, 423.91452, 422.03551, 240.26751]                    </rosparam>
        <rosparam param="distortion_cam_0">     [-0.005363, 0.002265, 0.000558, 0.001094]                       </rosparam>
        <rosparam param="intrinsic_cam_1">      [421.2098, 421.01239, 424.5559, 240.56092]                      </rosparam>
        <rosparam param="distortion_cam_1">     [-0.011361, 0.005153, -0.000118, 0.001930]                      </rosparam>

        <rosparam param="Tic">   [1.000000000000,  0.000000000000,  0.000000000000,
                                  0.000000000000,  1.000000000000,  0.000000000000,
                                  0.000000000000,  0.000000000000,  1.000000000000,
                                 -0.031684661050,  0.009562342343,  0.026536371869,

                                  1.000000000000,  0.000000000000,  0.000000000000,
                                  0.000000000000,  1.000000000000,  0.000000000000,
                                  0.000000000000,  0.000000000000,  1.000000000000,
                                 -0.019843557956,   0.045368942502,  0.007862124470]
        </rosparam>

        <param name="max_feat_n"                type="int"    value="432" />
        <param name="grid_w"                    type="int"    value="24" />
        <param name="grid_h"                    type="int"    value="18" />
        <param name="max_clone_pose"            type="int"    value="6" />
        <param name="verbosity"                 type="str"    value="$(arg verbosity)" />
        <param name="log_path"                  type="str"    value="$(arg log_path)" />

        <param name="imu_acc_var_static_thres"  type="double"   value="0.5" />
        <param name="imu_gyro_static_thres"     type="double"   value="0.5" />
        <param name="gravity_magn"              type="double"   value="9.81" />

        <param name="sigma_na"                  type="double" value="2.0000e-2" />
        <param name="sigma_nw"                  type="double" value="1.6968e-03" />
        <param name="sigma_ba"                  type="double" value="3.0000e-3" />
        <param name="sigma_bg"                  type="double" value="1.9393e-03" />
        <param name="init_td_visual_sigma"      type="double" value="1e-4" />
        <param name="init_ric_sigma"            type="double" value="1e-3" />

        <rosparam param="camera_topic">   ["/camera/infra1/image_rect_raw", "/camera/infra2/image_rect_raw"]   </rosparam>
        <param name="imu_topic"         type="str"    value="/camera/imu" />
    </node>

</launch>